{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} PASSWORD CHANGE {% endblock title %}

{% block content %}
<div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); padding-top: 20em;padding-bottom: 7em;color:aliceblue;">

<h1 style="position:relative;font-size: 1.5em;">Password change </h1>
<p>Veuillez entrer votre ancien mot de passe, pour des raisons de sécurité
    puis entrer votre nouveau mot de passe deux fois afin que nous puissions verifier que vous l'avez saisi correctement  </p>
    <form method="POST"  class="form-group col-md-6">

        {% csrf_token %}
        <!--{{ form.as_p }} #remplacement avec form|crispy-->
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Change my password">

    </form>
</div>



{% endblock content %}