{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Enter new password {% endblock title %}

{% block content %}
 <div class="form-group col-md-6" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); padding-top: 20em;padding-bottom: 7em;color:aliceblue;">
    <h1> Set a new password !</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-success" type="submit" value="change my password">

    </form>
</div>

{% endblock content %}