{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Forgot Your password ? {% endblock title %}

{% block content %}
 <div class="form-group col-md-5" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); padding-top: 20em;padding-bottom: 7em;color:aliceblue;">
    <h1> Forgot your password ?</h1>
    <p> Enter your email Address below, and we will 
     email instruction for setting a new one.</p>

    <form method="POST" >
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Send me instructions!">

    </form>
</div>

{% endblock content %}