{% extends 'base.html' %}
 {% load crispy_forms_tags %}
{% block title %} SIGN UP {% endblock title %}

{% block content %}
<div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); padding-top: 35em;padding-bottom: 7em;color:aliceblue;" >
<h2>Sign Up</h2>
<form method="post" class="form-group " >
    {% csrf_token %}
    <!--#{{ form.as_p }} ici il sagit du remplacement de form.as_p par form|crispy apres la configuration de crispy dans le seetings.py-->
    {{ form|crispy }}
    <button class="btn btn-success" type="submit"> Log In</button>
</form>



</div>

{% endblock content %}